language: python
python:
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  - pip install coveralls
# command to run tests
script: coverage run --source=birdears.py --module pytest -v tests/
env:
  - PYTHONPATH=''
after_success:
  coveralls
